body, h1, h2, h3, h4, h5, h6, legend{
  font-family: "Ubuntu", sans-serif;
}

.rst-content .toctree-wrapper>p.caption {
  font-family: "Ubuntu", sans-serif;
}

.rst-content code.literal, .rst-content tt.literal {
    color: #00B2E3;
}

.rst-content div.highlight {
    background-color: azure;
}

.rst-content span.hll {
    background-color: #00B2E3;
}

.wy-nav-side {
    background: #1A283D;
}

.wy-menu-vertical li span.toctree-expand {
    color: #283c4d;
}

.wy-nav-content {
    max-width: none;
}

footer {
    margin-top: auto;
}

.container.bottom-right {
    display: none !important;
  }

.rst-versions .rst-other-versions dl:last-child {
  display: none !important;
}